@model IEnumerable<ProyectoPNT_MVC.Models.Carrito>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";

    var sesionUsuario = Html.ViewContext.HttpContext.Session.GetString("LoginUsuario");
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantArticulos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Boolean validacion = item.usuarioId.ToString().Equals(sesionUsuario);
            if (validacion) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.articulo.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.nombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantArticulos)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
            }
        }
    </tbody>
</table>
