@model IEnumerable<ProyectoPNT_MVC.Models.Carrito>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";

    var sesionUsuario = Html.ViewContext.HttpContext.Session.GetString("LoginUsuario");
}

<section class="text-center mt-3">
    <h1>Tu Carrito</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.articulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.articulo.precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cantArticulos)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Boolean validacion = item.usuarioId.ToString().Equals(sesionUsuario);
                if (validacion)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content(item.articulo.imagen)" height="50" width="50" class="articulo" />
                            @Html.DisplayFor(modelItem => item.articulo.descripcion)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.articulo.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantArticulos)
                        </td>
                        <td>
                            <a asp-action="eliminarArticuloCarrito" asp-route-id="@item.articuloId" asp-route-idUser="@item.usuarioId">Quitar 1 Articulo</a>
                        </td>
                    </tr>
                }
            }
            <a asp-action="realizarCompra" asp-route-idUser="@sesionUsuario">Realizar Compra</a>
        </tbody>
    </table>
</section>