@model IEnumerable<ProyectoPNT_MVC.Models.Articulo>

@{
    ViewData["Title"] = "Lista de Articulos";
    Html.AntiForgeryToken();
}

<h1>Lista de Articulos</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numeroArticulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.talle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <input type="text" hidden name="__RequestVerificationToken" />
        <partial name="../Shared/_Articulo.cshtml" />
    </tbody>
</table>