@using Microsoft.AspNetCore.Http;


@model IEnumerable<ProyectoPNT_MVC.Models.Articulo>

@{
    var sesionUsuario = Html.ViewContext.HttpContext.Session.GetString("LoginUsuario");

    var esVisible = true;
    if (!String.IsNullOrEmpty(sesionUsuario))
    {
        esVisible = false;
    }

    @functions{
        public String seMuestra(Boolean esVisible)
        {
            String retorno = "display:block";
            if (!esVisible)
            {
                retorno = "display:none !important";
            }
            return retorno;
        }
    }
}

@foreach (var item in Model)
{
<div class="col-4 text-center">
    <div class="opcionesArticulo">
        <a style="@seMuestra(!esVisible)" asp-controller="Carrito" asp-action="crearCarrito" asp-route-id="@item.id" asp-route-idUser="@sesionUsuario">
            <img src="~/images/anadir.png" class="icon" alt="añadir.png" />
        </a>
    </div>
    <img src="@Url.Content(item.imagen)"
         alt="remera-gris"
         height="200"
         width="200"
         class="articulo" />
    <p>@item.nombre - $@item.precio</p>
    <p>Stock: @item.stock</p>
    
</div>
}